a:hover {
  color: hotpink; !important
}

hr {
  border:none;
  border-top:2px dashed rgb(255, 255, 255); 
  color:#fff;
  height:3px;
  width:100%;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn-group-vertical >.btn {
  margin-bottom: 10px; /* adjust the gap between buttons */
}
