* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 4em;
  padding: 30px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 30px;
  color: white;
  content: "Christian";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 100;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 100;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(87px, 340px, 25px, 30px);
  }
  5% {
    clip: rect(87px, 340px, 106px, 30px);
  }
  10% {
    clip: rect(116px, 340px, 84px, 30px);
  }
  15% {
    clip: rect(125px, 340px, 11px, 30px);
  }
  20% {
    clip: rect(147px, 340px, 30px, 30px);
  }
  25% {
    clip: rect(72px, 340px, 29px, 30px);
  }
  30% {
    clip: rect(44px, 340px, 132px, 30px);
  }
  35% {
    clip: rect(28px, 340px, 33px, 30px);
  }
  40% {
    clip: rect(66px, 340px, 148px, 30px);
  }
  45% {
    clip: rect(73px, 340px, 97px, 30px);
  }
  50% {
    clip: rect(52px, 340px, 112px, 30px);
  }
  55% {
    clip: rect(12px, 340px, 59px, 30px);
  }
  60% {
    clip: rect(58px, 340px, 33px, 30px);
  }
  65% {
    clip: rect(103px, 340px, 38px, 30px);
  }
  70% {
    clip: rect(44px, 340px, 139px, 30px);
  }
  75% {
    clip: rect(104px, 340px, 109px, 30px);
  }
  80% {
    clip: rect(69px, 340px, 117px, 30px);
  }
  85% {
    clip: rect(145px, 340px, 8px, 30px);
  }
  90% {
    clip: rect(119px, 340px, 15px, 30px);
  }
  95% {
    clip: rect(119px, 340px, 141px, 30px);
  }
  100% {
    clip: rect(109px, 340px, 129px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(130px, 340px, 107px, 30px);
  }
  5% {
    clip: rect(148px, 340px, 149px, 30px);
  }
  10% {
    clip: rect(89px, 340px, 79px, 30px);
  }
  15% {
    clip: rect(122px, 340px, 148px, 30px);
  }
  20% {
    clip: rect(123px, 340px, 58px, 30px);
  }
  25% {
    clip: rect(122px, 340px, 68px, 30px);
  }
  30% {
    clip: rect(73px, 340px, 45px, 30px);
  }
  35% {
    clip: rect(49px, 340px, 48px, 30px);
  }
  40% {
    clip: rect(20px, 340px, 88px, 30px);
  }
  45% {
    clip: rect(8px, 340px, 20px, 30px);
  }
  50% {
    clip: rect(121px, 340px, 124px, 30px);
  }
  55% {
    clip: rect(11px, 340px, 75px, 30px);
  }
  60% {
    clip: rect(40px, 340px, 114px, 30px);
  }
  65% {
    clip: rect(10px, 340px, 12px, 30px);
  }
  70% {
    clip: rect(41px, 340px, 38px, 30px);
  }
  75% {
    clip: rect(11px, 340px, 20px, 30px);
  }
  80% {
    clip: rect(3px, 340px, 1px, 30px);
  }
  85% {
    clip: rect(23px, 340px, 143px, 30px);
  }
  90% {
    clip: rect(121px, 340px, 77px, 30px);
  }
  95% {
    clip: rect(87px, 340px, 125px, 30px);
  }
  100% {
    clip: rect(140px, 340px, 73px, 30px);
  }
}
